<footer style="background-color: black; width: 100%; height: 100%;">
    {{#each footers}}
    <div style="display: flex;background-color: rgba(245, 238, 238, 0.041); " >
        <div style=" width: 33%; height: 100%; " >
            
            <section class="social text-center"> 
                
                <img style="border-radius: 50%; width: 50%; margin-top: 15%; margin-left: 5%;" src="{{this.logo}}" alt="">
                    <div class="container">
                        <ul>
                            
                            <li><a href="#"><img style="width: 13%;" src="/images/icons/YouTube-icon-SVG-removebg-preview.png" title="youtube"></a></li>
                            <li> <a href="https://www.facebook.com/haisancomnieubomrestaurant"><img style="width: 10%;" src="/images/icons/icons8-facebook-96.png"  title="facebook"></a></li>
                            <li><a href="#"><img style="width: 10%;" src="/images/icons/icons8-twitter-80.png" title="twitter"></a></li>
                            <li><a href="#"><img  style="width: 10%;"src="/images/icons/icons8-instagram-96.png" title="instagram"></a></li>
                        </ul>
                        
                    </div>
            

            </section>
        </div>
        <div style=" width: 33%; height: 100%; " >
            
        <section class="social text-center" style="margin-top: 15%;"> 
            <h3 style="color: rgb(233, 233, 128); font-style: italic;">CONTACT US</h3>
            <p style="color: whitesmoke">ĐỊA CHỈ: {{this.address}}</p>
            <p style="color: whitesmoke">HOTLINE: {{this.hotline}}</p>
            <p style="color: whitesmoke">GMAIL: {{this.mail}}</p>
            <p style="color: whitesmoke">THỜI GIAN LÀM VIỆC: {{this.timeWork}}</p>
             
           

        </section>
        </div>
        <div style="width: 33%; ">
            
               
             
            <iframe style="width: 90%; margin-top: 5%; height: 350px;"  src="{{this.iframe}}" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>            
               
            
        </div>
    </div>
    {{/each}}
    <!-- Social Section Ends Here -->

    <!-- Footer Section Starts Here -->
    <section class="footer text-center">
        <div class="container" style="color: rgba(245, 245, 245, 0.938);">
            COPYRIGHT 2023 <b>BỜM RESTAURANT</b> . All right revered. Designed by RDP
        </div>

    </section>

</footer>