<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link href="css/style.css" rel="stylesheet">
</head>
<body>
    

  
    <!-- Food Search Section Ends Here -->

    <!-- Categories Section Starts Here -->
    
        <div class="container-fluid" style="margin-left: 50px;">
           
            {{#each memories}}
                <div class="box-3 float-container">
                    <img src="{{this.imgMemory}}" style="width: 100%; height: 300px; " alt="pizza" class="img-responsive img-curve">

                   
                </div>
            {{/each}}
         
               
            
            
            <div class="clearfix"></div>
        </div>
    {{#each informations}}
    <div class="card bg-white text-white" style="">
        <div style="position: relative; width: 100%;">
            <img src="https://res.cloudinary.com/dk41ftplg/image/upload/v1702112881/Restaurant-Food/x2sdlvpyygbvv5wsduez.png" style="height: 500px; width: 100%; object-fit: cover; position: absolute; top: 0; left: 0; z-index: -1;" class="card-img" alt="...">
            <div style="background-color: rgb(17, 17, 17); width: 100%; height: 500px;"></div>
        </div>

        
       <div class="card-img-overlay" style="width: 85%; height: 85%; margin-left: 15%; margin-top: 1%;"  >
            <div style="display: flexbox; background-color:  rgb(17, 17, 17); margin-top: 35px; width: 600px; height: 400px; text-align: center; margin-left: 500px;">
               <img style="width: 85%; height: 85%;"  src="{{this.imgInfo}}" alt="">
            </div>
        </div>
        <div class="card-img-overlay"  >
            <div style="display: flexbox; background-color:  rgb(17, 17, 17);text-align: justify ; margin-top: 5%; width: 30%; height: 40%;  margin-left: 5%;">
               <p style="color: white; font-size: 20px; ">Chúc mừng đến với</p>
                <p class="card-text" style="font-size: 30px; color: orange;">{{this.titleInfo}}</p>
                <p  class="card-text">{{this.noiDungInfo}}</p>
                
            </div>
        </div>
    </div>
    {{/each}}
    <!-- Categories Section Ends Here -->

    <!-- Food Menu Section Starts Here -->
    <section class="food-menu" style="background-color: white;">
        <div class="container" >
            <div style="display: flex; align-items: center;justify-content: center;">
                <span style="height: 2px; width: 36%; background-color: #999; "></span>
                <h2 class="text-titler" style="color: black; height: 50px; margin: 0 20px;">Món ăn nổi bật</h2>
                <span style="height: 2px; width: 36%; background-color: #999; "></span>
            </div>
            <div style="text-align: center;">
                -- Cơm Niêu Panda --
            </div>
            <div style="display: flex; flex-wrap: wrap; margin-top: 30px;margin-left: 150px" >
            {{#each foods}}
                <div class="card mb-3" style="max-width: 540px; background-color: white; width: 50%;  border: none;">
                    <div class="row g-0">
                        <div class="col-md-4">
                        <img style="border-radius: 50%; width: 200px; height: 100px;" src="{{this.img}}" class="img-fluid rounded-start" alt="...">
                        </div>
                        <div class="col-md-8" > 
                        <div class="card-body" style="color: black; " >
                            <a style="font-weight: bold;" >{{this.nameFood}}</a>
                            <p class="card-text">Giá :
                            <i style="color: rgb(250, 47, 47)" id="priceNB">{{this.price}} </i>
                            </p>
                            
                            <p class="card-text"><small class="text-muted">Mô tả:{{this.describe}} </small></p>
                        </div>
                        </div>
                    </div>
                </div>
            {{/each}}    
            </div>
            
            <div class="clearfix"></div>
        </div>

    </section>
    <script>
         document.addEventListener("DOMContentLoaded", function() {
    var priceElements = document.querySelectorAll("#priceNB");

    priceElements.forEach(function(element) {
      var price = element.textContent.trim();
      var hiddenPrice = hideDigits(price, 3);
      element.textContent = hiddenPrice + " VND";
    });

    function hideDigits(price, count) {
      // Chuyển giá thành chuỗi
      var priceStr = price.toString();
      
      // Ẩn chữ số thứ 4 trở đi bằng cách thêm dấu chấm
      var hiddenPrice = priceStr.replace(/\B(?=(\d{3})+(?!\d))/g, ".");

      return hiddenPrice;
    }
  });


    </script>
</body>
</html>