 <div class="container-fluid body-table" >
        <div class="head">
            <h1>Quản lý Footer</h1>
           
            
        </div>
        
        <div class="table-students">
            <table class="table" >
                <thead class="table-dark" >
                    <tr >
                  
                    <th scope="col" style="width: 50px;">#</th>
                    <th scope="col" style="width: 200px ;text-align: center;">
                        Địa chỉ
                        
                    </th>
                    <th scope="col" style="width: 200px ;text-align: center;">
                        Hotline
                       
                    </th>
                    <th scope="col" style="width: 100px ;text-align: center;">
                        Website
                    </th>
                    <th scope="col" style="width: 200px ;text-align: center;">
                       Email
                     </th>
                    <th scope="col" style="width: 200px ;text-align: center;">
                        Thời gian làm việc
                     </th>
                     <th scope="col" style="width: 200px ;text-align: center;">
                        Địa chỉ quán
                     </th>
                     <th scope="col" style="width: 200px ;text-align: center;">
                        Logo
                     </th>
                     <th scope="col" style="width: 100px ;text-align: center;">
                        Chỉnh sửa
                     </th>
                    </tr>
                </thead>
                <tbody>
                    {{#each footers}}
                    <tr>
                   
                    <th scope="row"><span class="stt"></span></th>
                    <td style="text-align: center;">{{this.address}}</td>
                    <td style="text-align: center;">{{this.hotline}}</td>
                    <td style="text-align: center;">{{this.website}}</td>
                    <td style="text-align: center;">{{this.mail}}</td>
                    <td style="text-align: center;">{{this.timeWork}}</td>
                    <td style="text-align: center;">
                        <iframe style='width: 90%; margin-top: 5%; height: 150px;'  src='{{this.iframe}}' width='600' height='450' style='border:0;' allowfullscreen='' loading='lazy' referrerpolicy='no-referrer-when-downgrade'></iframe>
                        
                    </td>
                    <td style="text-align: center;">
                        <img style="width:200px; height: 100px; " src="{{this.logo}}" >

                    </td>
                    
                    <td style="text-align: center;">
                        <a href="/footer/{{this.id}}" class="btn btn-link ">Sửa</a>
                       
                    </td>
                    </tr>
                    
                    {{/each}}
                </tbody>
            </table>
            
        </div>
        <div class="head" hidden>
            <h1>Quản lý Icon</h1>
           
            
        </div>
        
        <div class="table-students" hidden>
            <table class="table" >
                <thead class="table-dark" >
                    <tr >
                  
                    <th scope="col" style="width: 50px;">#</th>
                    <th scope="col" style="width: 200px ;text-align: center;">
                        Title
                        
                    </th>
                    <th scope="col" style="width: 200px ;text-align: center;">
                        Đường dẫn
                       
                    </th>
                     <th scope="col" style="width: 200px ;text-align: center;">
                        Logo
                     </th>
                     <th scope="col" style="width: 100px ;text-align: center;">
                        Chỉnh sửa
                     </th>
                    </tr>
                </thead>
                <tbody>
                    {{#each icons}}
                    <tr>
                   
                    <th scope="row"><span class="stt1"></span></th>
                    <td style="text-align: center;">{{this.titleIcons}}</td>
                    <td style="text-align: center;">{{this.linkIcons}}</td>
                    <td style="text-align: center;">
                        <img style="width:80px; height: 50px; border-radius: 50%;" src="{{this.imgIcons}}" >

                    </td>
                    
                    <td style="text-align: center;">
                        <a href="/footer/{{this.id}}" class="btn btn-link ">Sửa</a>
                       
                    </td>
                    </tr>
                    
                    {{/each}}
                </tbody>
            </table>
            
        </div>
         <div hidden class="inserthv" style="margin-top: 50px; text-align: center;">
                <button onclick="changePage()" class="btn btn-primary" style="border-top: 30px;,height: 100px; width: 200px; text-align: center; background-color: chocolate; border-color: chocolate;">Thêm Icon</button>
        </div> 
    </div>
    <script>
    document.addEventListener("DOMContentLoaded", function() {
         let stt = 1;
    const sttElements1 = document.querySelectorAll('span.stt1');

    sttElements1.forEach(function(element) {
      element.textContent = stt++;
    });
    });
    </script>
<script>
  document.addEventListener("DOMContentLoaded", function() {
    let stt = 1;
    const sttElements = document.querySelectorAll('span.stt');

    sttElements.forEach(function(element) {
      element.textContent = stt++;
    });
     
  });
    function changePage(){
        window.location.href="/footer/icons/formAdd"
    }

    
  
</script>