 <div class="form-input" style="min-height: 545px;">
        <h1 style="margin-left: 700px;">Cập nhật món ăn</h1>
        <div class="form-aria" style="background-color: rgb(245, 240, 240); margin-right: 130px;margin-left: 130px; padding-bottom: 30px; padding-right: 30px; ">
            <div class="row g-3" style="margin-left: 150px; margin-top: 30px; " >
                <div class="col">
                    <label style="margin-bottom: 10px;">Tên món ăn</label>
                    <input type="text" class="form-control" data-origin="{{food.nameFood}}" value="{{food.nameFood}}" id="nameFood" placeholder="Tên món ăn" style="width: 500px;">
                </div>
                <div class="col">
                    <label style="margin-bottom: 10px;">Giá</label>
                    <input type="text" class="form-control" id="price" data-origin="{{food.price}}" value="{{food.price}}" placeholder="Giá" style="width: 500px;">
                </div>
                <div class="col">
                    <label style="margin-bottom: 10px;">Mô tả về món ăn</label>
                    <input type="text" class="form-control" id="moTa" data-origin="{{food.describe}}" value="{{food.describe}}" placeholder="Mô tả" style="width: 500px;">
                </div>
                <div class="col">
                    <label style="margin-bottom: 10px;">Ngôn ngữ khác</label>
                    <input type="text" class="form-control" id="ngonNgu" placeholder="Ngôn ngữ khác" data-origin="{{food.ngonNgu}}" value="{{food.ngonNgu}}" style="width: 500px;">
                </div>
                <div class="col ">
                    <label style="margin-bottom: 10px;">Loại món ăn</label>
                    <select data-origin="{{food.category}}" class="form-control form-select mb-3" id="category" aria-label=".form-select-lg example" style="width: 500px;">
                        <option value="{{food.category}}">{{food.category}}</option>
                    {{#each Category}}
                        <option value="{{this}}">{{this}}</option>
                    {{/each}}
                    </select>
                </div>
               
                <div class="col ">
                    <label style="margin-bottom: 10px;">Nổi bật</label>
                    <select data-origin="{{food.noiBat}}" id="noiBat" class="form-control form-select mb-3" aria-label=".form-select-lg example" style="width: 500px;">
                        <option value="{{food.noiBat}}">{{food.noiBat}}</option>
                        <option value="Có">Có</option>
                        <option value="Không">Không</option>
                    
                    </select>
            

                </div>
                 <div class="col ">
                    <label style="margin-bottom: 10px;">Đề xuất</label>
                    <select id="deXuat" data-origin="{{food.deXuat}}" class="form-control form-select mb-3" aria-label=".form-select-lg example" style="width: 500px;">
                        <option value="{{food.deXuat}}">{{food.deXuat}}</option>
                        <option value="Không">Không</option>
                        <option value="Có">Có</option>
                    </select>
            

                </div>
                 <div id="form-picture" class="col">
                    <label style="margin-bottom: 10px;">Ảnh món ảnh</label>
                    <div class="changeava">
                        <img id="imgFood" data-origin="{{food.img}}" src= "{{food.img}}" alt="" class="ava">
                            <div class="form-ava" style="margin-top: 40px;" >
                                <input type="file" class="image-user" id="imageUpload" name="img" accept=".jpg, .png" onchange="previewImage(this)"/><br>
                                
                            </div> 
                    </div>    
                </div> 
            </div>
            
        </div>    
        <div class="add" style="margin-top: 30px;">
            <button onclick="updateFood('{{food.id}}')" class="btn btn-primary" style="margin-left: 350px; width: 1000px; height: 40px;" >Sửa</button>
        </div>
    </div>
<script>
    function previewImage(input) {
    var reader = new FileReader();

    reader.onload = function (e) {
        $('#imgFood').attr('src', e.target.result);
    };

    if (input.files && input.files[0]) {
        reader.readAsDataURL(input.files[0]);
    }
}
        function updateFood(id){
            var ten = $('#nameFood').val();
            var gia = $('#price').val();
            var moTa = $('#moTa').val();
            var loai = $('#category').val();
            var anh = $('#imgFood').attr('src');
            var noiBat = $('#noiBat').val();
            var deXuat = $('#deXuat').val();
            var ngonNgu = $('#ngonNgu').val();
            var tenInHoa = ten.toUpperCase();
             var originTen = $('#nameFood').data('origin');
            var originGia = $('#price').data('origin');
            var originMoTa = $('#moTa').data('origin');
            var originLoai = $('#category').data('origin');
            var originAnh = $('#imgFood').data('origin');
            var originNoiBat = $('#noiBat').data('origin');
            var originDeXuat = $('#deXuat').data('origin');
            var originNgonNgu = $('#ngonNgu').data('origin');
            var imageFile = $('#imageUpload')[0].files[0];
            var formData = new FormData();
             formData.append("file", imageFile);
        if (ten === originTen && gia === String(originGia) && moTa === originMoTa && loai === originLoai && anh === originAnh 
        && noiBat === originNoiBat && ngonNgu === originNgonNgu && deXuat === originDeXuat) {
        alert('Không có dữ liệu nào được thay đổi');
            window.location.href='/foods'
        return;
        }
        if (ten.trim() === '') {
            alert('Vui lòng nhập tên món ăn');
            return;
        }
        if(ten !== tenInHoa){
            alert("Món ăn buộc phải viết hoa toàn bộ");
            return;
        }
        if (gia.trim() === '' || isNaN(gia)) {
            alert('Vui lòng nhập giá hợp lệ');
            return;
        }

        if (moTa.trim() === '') {
            alert('Vui lòng nhập mô tả');
            return;
        }

        if (loai === '--- Chọn loại món ăn ---') {
            alert('Vui lòng chọn loại món ăn');
            return;
        }

        if (anh.trim() === '') {
            alert('Vui lòng chọn hình ảnh');
            return;
        }
        if(anh === originAnh){
            if(ten !== originTen){
                $.ajax({
                url:"/foods/checkName",
                    type: "POST",
                    data:{
                        nameFood:ten
                    }
                })
                .then(data =>{
                    if(data.code === 200){
                        $.ajax({
                        url:'/foods/updateFood/'+id,
                            type:'PUT',
                            data:{
                                nameFood:ten,
                                price:gia,
                                describe:moTa,
                                category:loai,
                                img: anh,
                                noiBat:noiBat,
                                deXuat:deXuat,
                                ngonNgu:ngonNgu
                            }
                        })
                        .then(data =>{
                            if(data.code === 200){
                                alert(data.message);
                                window.location.href='/foods'
                            }
                            else if(data.code === 500){
                                alert(data.message);
                            }
                        
                            
                        })
                        .catch(error=>{
                            alert("Lỗi")
                        })
                    }
                    else if(data.code = 500){
                        alert(data.message);
                    }
                    else{
                        alert("Không thể check tên món ăn");
                    }
                })
                .catch(error =>{
                    alert("Lỗi check tên món ăn");
                })
            }else{
                $.ajax({
                    url:'/foods/updateFood/'+id,
                        type:'PUT',
                        data:{
                        nameFood:ten,
                        price:gia,
                        describe:moTa,
                        category:loai,
                        img: anh,
                        noiBat:noiBat,
                        deXuat:deXuat,
                        ngonNgu:ngonNgu        
                        }
                    })
                    .then(data =>{
                        if(data.code === 200){
                            alert(data.message);
                            window.location.href='/foods'
                        }
                        else if(data.code === 500){
                            alert(data.message);
                        }
                        
                            
                    })
                    .catch(error=>{
                        alert("Lỗi")
                    })
            }
            
           
        }
        else{
            if(ten !== originTen){
                $.ajax({
                url:"/foods/checkName",
                    type: "POST",
                    data:{
                        nameFood:ten
                    }
                })
                .then(data =>{
                    if(data.code === 200){
                    const imageUrl = String(originAnh);
                    const parts = imageUrl.split('/');
                    const result = parts.slice(-2).join('/'); // Lấy hai phần tử cuối cùng và nối lại
                    const cut = result.split('.')
                    const deleteImageDto = cut[0]
                        
                    $.ajax({
                        url:"/foods/deleteCloud",
                            type:"POST",
                            data:{
                            imgDTO:deleteImageDto
                            } 
                        })
                        .then(data =>{
                        
                            $.ajax({
                                url: '/foods/uploads', // Đổi thành đường dẫn bạn cần xử lý hình ảnh
                                type: 'POST',
                                data: formData,
                                contentType: false,
                                processData: false
                                })
                                .then((cloudinaryResponse) => {
                                    // Lấy đường dẫn hình ảnh từ kết quả trả về Cloudinary
                                    var imageUrl = cloudinaryResponse.secure_url;
                                    $.ajax({
                                    url:'/foods/updateFood/'+id,
                                        type:'PUT',
                                        data:{
                                            nameFood:ten,
                                            price:gia,
                                            describe:moTa,
                                            category:loai,
                                            img: imageUrl,
                                            noiBat:noiBat,
                                            deXuat:deXuat,
                                            ngonNgu:ngonNgu
                                        }
                                    })
                                    .then(data =>{
                                        alert("Cập nhật món ăn thành công");
                                        window.location.href='/foods'
                                    })
                                    .catch(error=>{
                                        alert("Lỗi")
                                    })
                            
                            })
                            .catch((error) => {
                                alert('Lỗi khi tải lên hình ảnh');
                                
                            });
                        })
                        .catch(error =>{
                            alert("Lỗi xóa ảnh")
                        })
                    }
                    else if(data.code = 500){
                        alert(data.message);
                    }
                    else{
                        alert("Không thể check tên món ăn");
                    }
                })
                .catch(error =>{
                    alert("Lỗi check tên món ăn");
                })    

            }
            else{
            const imageUrl = String(originAnh);
            const parts = imageUrl.split('/');
            const result = parts.slice(-2).join('/'); // Lấy hai phần tử cuối cùng và nối lại
            const cut = result.split('.')
            const deleteImageDto = cut[0]
                
            $.ajax({
                url:"/foods/deleteCloud",
                    type:"POST",
                    data:{
                    imgDTO:deleteImageDto
                    } 
                })
                .then(data =>{
                   
                    $.ajax({
                        url: '/foods/uploads', // Đổi thành đường dẫn bạn cần xử lý hình ảnh
                        type: 'POST',
                        data: formData,
                        contentType: false,
                        processData: false
                        })
                        .then((cloudinaryResponse) => {
                            // Lấy đường dẫn hình ảnh từ kết quả trả về Cloudinary
                            var imageUrl = cloudinaryResponse.secure_url;
                            $.ajax({
                            url:'/foods/updateFood/'+id,
                                type:'PUT',
                                data:{
                                    nameFood:ten,
                                    price:gia,
                                    describe:moTa,
                                    category:loai,
                                    img: imageUrl,
                                    noiBat:noiBat,
                                    deXuat:deXuat,
                                    ngonNgu:ngonNgu
                                }
                            })
                            .then(data =>{
                                alert("Cập nhật món ăn thành công");
                                window.location.href='/foods'
                            })
                            .catch(error=>{
                                alert("Lỗi")
                            })
                    
                    })
                    .catch((error) => {
                        alert('Lỗi khi tải lên hình ảnh');
                        
                    });
                })
                .catch(error =>{
                    alert("Lỗi xóa ảnh")
                })
            }    
           
             
        }

            
           
    }

    </script>
{{!--     
            
            --}}