<div class="form-input" style="min-height: 545px; margin-top: 20px;">
        <h1 style="margin-left: 600px;">Cập nhật thông tin giới thiệu</h1>
        <div class="form-aria" style="background-color: rgb(245, 240, 240); margin-right: 130px;margin-left: 130px; padding-bottom: 30px; padding-right: 30px; ">
            <div class="row g-3" style="margin-left: 150px; margin-top: 30px; " >
                <div class="col">
                    <label style="margin-bottom: 10px;">Tiêu đề giới thiệu</label>
                    <input type="text" class="form-control" id="title" data-origin="{{introduction.title}}" value="{{introduction.title}}"  style="width: 500px;">
                </div>
                <div class="col">
                    <label style="margin-bottom: 10px;">Nội dung giới thiệu</label>
                    <textarea style="resize: none; width: 500px; height: 100px;" type="text" class="form-control" data-origin="{{introduction.noiDung}}"   id="noiDung" >{{introduction.noiDung}}</textarea>
                </div>
                
                <div class="col">
                    <label style="margin-bottom: 10px;">Nội dung phần kết</label>
                    <textarea style="resize: none; width: 500px; height: 100px;" type="text" class="form-control" data-origin="{{introduction.noiDungKhac}}" id="noiDungKhac" >{{introduction.noiDungKhac}}</textarea>
                </div>
                <div id="form-picture" class="col">
                    <label style="margin-bottom: 10px;">Hình ảnh</label>
                    <div class="changeava">
                        <img id="imgSlide" data-origin="{{introduction.img}}" src="{{introduction.img}}" alt="" class="ava">
                            <div class="form-ava" style="margin-top: 40px;" >

                                <input type="file" class="image-user" id="imageUpload" name="img" accept=".jpg, .png" onchange="previewImage(this)"/><br>
                            </div> 
                    </div>    
                </div> 
            </div>
            
        </div>
        <div class="add" style="margin-top: 30px; padding-bottom: 10px;">
            <button onclick="update('{{introduction.id}}')" class="btn btn-primary" style="margin-left: 350px; width: 1000px; height: 40px;" >Sửa</button>
        </div>
        {{#each introduction.foods}}    
        <h1 id="{{this.nameCate}}" style="margin-left: 400px; margin-top: 3%; padding-top: 10%;">Cập nhật món ăn của {{this.nameCate}}</h1>
        <div class="form-aria" style="background-color: rgb(245, 240, 240); margin-right: 130px;margin-left: 130px; padding-bottom: 30px; padding-right: 30px; ">
            <div class="row g-3" style="margin-left: 150px; margin-top: 30px; " >
                
                
                <div class="col">
                    <label style="margin-bottom: 10px;">Loại đồ ăn </label>
                    <input type="text" class="form-control" id="title" data-origin="{{this.nameCate}}" value="{{this.nameCate}}"  style="width: 500px;">
                    
                </div>
                {{#each this.food}}
                 <div class="col">
                    <label style="margin-bottom: 10px;">Các loại đồ ăn </label>
                    <input type="text" class="form-control" id="title" data-origin="{{this.name}}" value="{{this.name}}"  style="width: 500px;">
                    
                </div>
                {{/each}}
                
               
            </div>
            
        </div> 
        <div class="add" style="margin-top: 30px; padding-bottom: 10px;">
            <button onclick="updateSlide()" class="btn btn-primary" style="margin-left: 350px; width: 1000px; height: 40px;" >Sửa</button>
        </div>
        {{/each}} 
        
</div>
<script>
    function previewImage(input) {
    var reader = new FileReader();

    reader.onload = function (e) {
        $('#imgSlide').attr('src', e.target.result);
    };

    if (input.files && input.files[0]) {
        reader.readAsDataURL(input.files[0]);
    }
    }

</script>