<div class="form-input" style="min-height: 545px; margin-top: 20px;">
        <h1 style="margin-left: 700px;">Sửa slide thứ {{information.sttSlide}}</h1>
        <div class="form-aria" style="background-color: rgb(245, 240, 240); margin-right: 130px;margin-left: 130px; padding-bottom: 30px; padding-right: 30px; ">
            <div class="row g-3" style="margin-left: 150px; margin-top: 30px; " >
                <div class="col">
                    <label style="margin-bottom: 10px;">Tiêu đề</label>
                    <input type="text" class="form-control" id="titleSlide" data-origin="{{information.titleInfo}}" value="{{information.titleInfo}}" placeholder="Tiêu đề slide" style="width: 500px;">
                </div>
                <div class="col">
                    <label style="margin-bottom: 10px;">Nội dung</label>
                    <input type="text" class="form-control" data-origin="{{information.noiDungInfo}}" value="{{information.noiDungInfo}}" id="noiDungSlide" placeholder="Nội dung slide" style="width: 500px;">
                </div>
                <div id="form-picture" class="col">
                    <label style="margin-bottom: 10px;">Ảnh slide</label>
                    <div class="changeava">
                        <img id="imgSlide" data-origin="{{information.imgInfo}}" src="{{information.imgInfo}}" alt="" class="ava">
                            <div class="form-ava" style="margin-top: 40px;" >

                                <input type="file" class="image-user" id="imageUpload" name="img" accept=".jpg, .png" onchange="previewImage(this)"/><br>
                            </div> 
                    </div>    
                </div> 
            </div>
            
        </div>    
        <div class="add" style="margin-top: 30px;">
            <button onclick="updateSlide('{{information.id}}')" class="btn btn-primary" style="margin-left: 350px; width: 1000px; height: 40px;" >Sửa</button>
        </div>
</div>
<script>
    function previewImage(input) {
    var reader = new FileReader();

    reader.onload = function (e) {
        $('#imgSlide').attr('src', e.target.result);
    };

    if (input.files && input.files[0]) {
        reader.readAsDataURL(input.files[0]);
    }
}
    function updateSlide(id){
       var currentTitle = $('#titleSlide').val();
        var currentNoiDung = $('#noiDungSlide').val();
        var currentImg = $('#imgSlide').attr('src');

        // Lấy giá trị ban đầu từ thuộc tính data-origin
        var originalTitle = $('#titleSlide').data('origin');
        var originalNoiDung = $('#noiDungSlide').data('origin');
        var originalImg = $('#imgSlide').data('origin');
        var imageFile = $('#imageUpload')[0].files[0];
        var formData = new FormData();
        formData.append("file", imageFile);
        // Kiểm tra xem dữ liệu có thay đổi hay không
        var titleChanged = currentTitle !== originalTitle;
        var noiDungChanged = currentNoiDung !== originalNoiDung;
        var imgChanged = currentImg !== originalImg;
          if (currentTitle.trim() === '' || currentNoiDung.trim() === '' || currentImg.trim() === '') {
            alert('Vui lòng điền đầy đủ thông tin');
            return; // Dừng hàm nếu có trường rỗng
        }
        // Kiểm tra điều kiện
        if (!titleChanged && !noiDungChanged && !imgChanged) {
            alert('Không có dữ liệu nào thay đổi');
            window.location.href="/information"
        }
        else if(imgChanged){
            const imageUrl = String(originalImg);
            const parts = imageUrl.split('/');
            const result = parts.slice(-2).join('/'); // Lấy hai phần tử cuối cùng và nối lại
            const cut = result.split('.')
            const deleteImageDto = cut[0]
            $.ajax({
                url:"/foods/deleteCloud",
                type:"POST",
                data:{
                    imgDTO:deleteImageDto
                } 
            })
            .then(data => {
                $.ajax({
                    url: '/foods/uploads', // Đổi thành đường dẫn bạn cần xử lý hình ảnh
                        type: 'POST',
                        data: formData,
                        contentType: false,
                        processData: false
                })
                .then((cloudinaryResponse) => {
                // Lấy đường dẫn hình ảnh từ kết quả trả về Cloudinary
                var imageUrl1 = cloudinaryResponse.secure_url;
                    $.ajax({
                    url:"/information/update/" + id,
                    type:"PUT",
                    data:{
                        titleInfo: currentTitle,
                        noiDungInfo:currentNoiDung,
                        imgInfo:imageUrl1
                    }
                    }) 
                    .then(data => {
                        if(data.code === 200){
                            alert("Cập nhật thông tin giới thiệu thành công");
                            window.location.href="/information"
                        }
                        else{
                            alert("Cập nhật không thành công");
                        }
                    })
                    .catch(error =>{
                        alert("Lỗi cập nhật Slide!!!")
                    })
                })
                .catch(error =>{
                    alert("Lỗi upload ảnh trên cloud!!!");
                })
            })
            .catch(error =>{
                alert("Lỗi xóa ảnh trên cloud!!!");
            })
        }
        else{
            $.ajax({
                url:"/information/update/" + id,
                type:"PUT",
                data:{
                    titleInfo: currentTitle,
                    noiDungInfo:currentNoiDung,
                    imgInfo:currentImg
                }
            }) 
            .then(data => {
                if(data.code === 200){
                    alert("Cập nhật thông tin giới thiệu thành công");
                    window.location.href="/information"
                }
                else{
                    alert("Cập nhật không thành công");
                }
            })
            .catch(error =>{
                alert("Lỗi cập nhật Slide!!!")
            })
        }
        
    }

</script>
